# BDCC project 1 

_[Big Data and Cloud Computing](http://www.dcc.fc.up.pt/~edrdo/aulas/bdcc), DCC/FCUP_

## Code necessary to run from the command line

In [1]:
if __name__ == "__main__" :
    # This block is required to run the program from the command line
    # in interface with a single Spark instance
    from pyspark import SparkContext
    from pyspark.sql import SparkSession
    
    spark = SparkSession\
        .builder\
        .appName("BDCCp1")\
        .master("local[*]")\
        .getOrCreate()
    sc = spark.sparkContext
    sc.setLogLevel("WARN")

## Provided code - auxilliary functions

__You should not need to edit these.__

#### loadMovieLensData

In [15]:
from pyspark.sql import functions as F

def readCSV(file, debug=False):
    if debug:
      print('Reading ' + file)
    return spark.read.csv(file, inferSchema=True, header=True)

def readParquet(file, debug=False): 
    if debug:
       print('Reading ' + file)
    return spark.read.parquet(file)

def loadMovieLensData(path, format='parquet', debug=False):
    if format == 'parquet':
       movies = readParquet(path +'/movies.parquet', debug)
       ratings = readParquet(path +'/ratings.parquet', debug)
       tags = readParquet(path +'/tags.parquet', debug)
    else:
       movies = readCSV(path +'/movies.csv', debug)
       ratings = readCSV(path +'/ratings.csv', debug)
       tags = readCSV(path +'/tags.csv', debug)
    
    tags = tags.withColumn('tagl', F.explode(F.split(F.lower(F.col('tag')),'[ \*\+\&\/\%\-\$\#\'\)\(\[\[\],.!?;:\t\n"]+')))\
            .drop('tag')\
            .withColumnRenamed('tagl','tag')
    if (debug):
        print('> movies')
        movies.printSchema()
        movies.show()
        print('> ratings')
        ratings.printSchema()
        ratings.show()
        print('> tags')
        tags.printSchema()
        tags.show()
    return (movies, ratings, tags)

#### writeCSV / writeParquet (use them to write a data frame to CSV or Parquet format)

In [16]:
def writeCSV(df, path): 
    df.write.csv(path, header=True, mode='overwrite')

def writeParquet(df,path):
    df.write.parquet(path, mode='overwrite')

#### createTagListDF

In [17]:
def createTagListDF(csvTagList):
    return spark.createDataFrame([ (t,) for t in csvTagList.split(' ')], ['tag'])

#### Definition of functions available only in Spark 2.4 (GCP Spark instances run Spark 2.3)

In [18]:
from pyspark.sql import functions as F
from pyspark.sql.types import ArrayType,IntegerType

# Define F.array_intersect if not defined (Spark version < 2.4)
if not hasattr(F,'array_intersect'):
  F.array_intersect = spark.udf\
    .register('array_intersect', 
       lambda x,y: list(set(x) & set(y)), ArrayType(IntegerType()))

# Define F.array_union if not defined (Spark version < 2.4)
if not hasattr(F,'array_union'):
  F.array_union = spark.udf\
    .register('array_union', 
       lambda x,y: list(set(x) | set(y)), ArrayType(IntegerType()))

## Functions to define 

__This is the section that will be evaluated.__

__Include your code for the various functions required in the assigment below.__

__You may include other auxilliary functions required for computation here
but NOT test code (see below).__

#### tfidfTags

In [19]:
from pyspark.sql import functions as F
    
def tfidfTags(tags, debug=False):
    
    df_f = tags.groupBy('tag', 'movieId')\
            .agg(F.count('userId').alias('f'))
    
    df_f_max = df_f.groupBy('movieId')\
                .agg(F.max('f').alias('f_max'))
    
    df_idf = get_idf(data=tags, w='tag', d='movieId', n='n')

    df = df_f.join(df_f_max, 'movieId')\
            .withColumn('TF', F.col('f') / F.col('f_max'))
    
    df = df.join(df_idf, 'tag')\
    
    df = df.withColumn('TF_IDF', df.TF*df.IDF)
    return df

#### recommendByTag

In [35]:
from pyspark.sql import functions as F

def recommendByTag(singleTag, TFIDF_tags, movies, min_fmax=10, numberOfResults=10, debug=False):
    df = TFIDF_tags.filter(TFIDF_tags.tag == singleTag)\
                    .filter(TFIDF_tags.f_max >= min_fmax)\
                    .join(movies, 'movieId')\
                    .orderBy(['TF_IDF','title'], ascending=[0,1])\
                    .select('movieID', 'title', 'TF_IDF')
        
    return df

#### recommendByTags

In [68]:
from pyspark.sql import functions as F

def recommendByTags(searchTags, TFIDF_tags, movies, min_fmax=10, numberOfResults=10, debug=False):
    searchTagsDF = createTagListDF(searchTags)
    if debug:
        print('> Search tags DF: ' + searchTags)
        searchTagsDF.show()
    # TODO
    
    df_tags = TFIDF_tags.join(searchTagsDF, 'tag', 'inner')\
                    .filter(TFIDF_tags.f_max >= min_fmax)\

    df = df_tags.groupBy('movieId')\
                .agg(F.sum('TF_IDF').alias('SUM_TF_IDF'))\
                .join(movies, 'movieId')\
                .orderBy(['SUM_TF_IDF', 'title'], ascending=[0,1])
        
    return df

#### jiMovieSimilarity

In [ ]:
from pyspark.sql import functions as F

def jiMovieSimilarity(ratings, minRatings=10, debug=False):
  # TODO
  return None

#### recommendBySimilarity

In [ ]:
def recommendBySimilarity(movieId, movies, jiForMovies, numberOfResults=10, debug=False):
    # TODO
        
    return None

# Specify input data set and load it

In [26]:
# Load data
bucket = 'gs://bdcc1819'
path = '/p1/data/'
dataset = 'tiny3'
fullPath = bucket + path + dataset

(movies, ratings, tags) = \
  loadMovieLensData(fullPath, format='csv', debug=True)

Reading gs://bdcc1819/p1/data/tiny3/movies.csv
Reading gs://bdcc1819/p1/data/tiny3/ratings.csv
Reading gs://bdcc1819/p1/data/tiny3/tags.csv
> movies
root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)

+-------+--------------------+
|movieId|               title|
+-------+--------------------+
|      1|    Toy Story (1995)|
|      2|      Jumanji (1995)|
|      3|Grumpier Old Men ...|
|      4|Waiting to Exhale...|
|      5|Father of the Bri...|
|      6|         Heat (1995)|
|      7|      Sabrina (1995)|
|      8| Tom and Huck (1995)|
|      9| Sudden Death (1995)|
|     10|    GoldenEye (1995)|
|     11|American Presiden...|
|     12|Dracula: Dead and...|
|     13|        Balto (1995)|
|     14|        Nixon (1995)|
|     15|Cutthroat Island ...|
|     16|       Casino (1995)|
|     17|Sense and Sensibi...|
|     18|   Four Rooms (1995)|
|     19|Ace Ventura: When...|
|     20|  Money Train (1995)|
+-------+--------------------+
only showing top 20 rows

> ratings
root
 |-- movieId: integer (nullable = true)
 |-- userId: integer (nullable = true)
 |-- rating: double (nullable = true)

+-------+------+------+
|movieId|userId|rating|
+-------+------+------+
|      1|     1|   4.0|
|      3|     1|   4.0|
|      6|     1|   4.0|
|     47|     1|   5.0|
|     50|     1|   5.0|
|     70|     1|   3.0|
|    101|     1|   5.0|
|    110|     1|   4.0|
|    151|     1|   5.0|
|     31|     3|   0.5|
|     21|     4|   3.0|
|     32|     4|   2.0|
|     45|     4|   3.0|
|     47|     4|   2.0|
|     52|     4|   3.0|
|     58|     4|   3.0|
|    106|     4|   4.0|
|    125|     4|   5.0|
|    126|     4|   1.0|
|      1|     5|   4.0|
+-------+------+------+
only showing top 20 rows

> tags
root
 |-- movieId: integer (nullable = true)
 |-- userId: integer (nullable = true)
 |-- tag: string (nullable = true)

+-------+------+--------------+
|movieId|userId|           tag|
+-------+------+--------------+
|      2|    62|       fantasy|
|      2|    62|         magic|
|      2|    62|         board|
|      2|    62|          game|
|      2|    62|         robin|
|      2|    62|      williams|
|    110|    62|     beautiful|
|    110|    62|       scenery|
|    110|    62|          epic|
|    110|    62|    historical|
|    110|    62| inspirational|
|    110|    62|      medieval|
|    110|    62|           mel|
|    110|    62|        gibson|
|    110|    62|         oscar|
|    110|    62|          best|
|    110|    62|cinematography|
|    110|    62|              |
|    110|    62|       revenge|
|    110|    62|         sword|
+-------+------+--------------+
only showing top 20 rows

##  Test code 

__Include test code below that you may need here.__

__The initial contents are only meant as an example.__

__This section will NOT be evaluated.__

In [27]:
# Get TF-IDF for tags
tfidf = tfidfTags(tags, debug=False)

tfidf.cache()
tfidf.orderBy(['f','TF_IDF','movieId','tag'],ascending=[0,0,1,1]).show()

+-----------+-------+---+-----+------------------+-----------------+-----------------+
|        tag|movieId|  f|f_max|                TF|              IDF|           TF_IDF|
+-----------+-------+---+-----+------------------+-----------------+-----------------+
|       time|     32|  3|    3|               1.0|5.426264754702098|5.426264754702098|
|     travel|     32|  3|    3|               1.0|5.426264754702098|5.426264754702098|
|      pixar|      1|  2|    2|               1.0|5.426264754702098|5.426264754702098|
|       game|      2|  2|    2|               1.0|5.426264754702098|5.426264754702098|
|apocalyptic|     32|  2|    3|0.6666666666666666|5.426264754702098|3.617509836468065|
|       post|     32|  2|    3|0.6666666666666666|5.426264754702098|3.617509836468065|
|      moldy|      3|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|        old|      3|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|  pregnancy|      5|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|      mafia|     16|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|  hollywood|     21|  1|    1|               1.0|5.426264754702098|5.426264754702098|
| alcoholism|     25|  1|    1|               1.0|5.426264754702098|5.426264754702098|
| kidnapping|     29|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|       high|     31|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|     school|     31|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|    teacher|     31|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|     animal|     34|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|        for|     34|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|       good|     34|  1|    1|               1.0|5.426264754702098|5.426264754702098|
|      movie|     34|  1|    1|               1.0|5.426264754702098|5.426264754702098|
+-----------+-------+---+-----+------------------+-----------------+-----------------+
only showing top 20 rows

In [36]:
# Recommend by tag 

rm = recommendByTag('twist', tfidf, movies, min_fmax=1)
rm.show()

rm = recommendByTag('killer', tfidf, movies, min_fmax=1)
rm.show()

rm = recommendByTag('remake', tfidf, movies, min_fmax=1)
rm.show()

+-------+--------------------+-----------------+
|movieID|               title|           TF_IDF|
+-------+--------------------+-----------------+
|     47|Seven (a.k.a. Se7...|3.841302253980942|
|     50|Usual Suspects, T...|3.841302253980942|
|     32|Twelve Monkeys (a...|1.280434084660314|
+-------+--------------------+-----------------+

+-------+--------------------+-----------------+
|movieID|               title|           TF_IDF|
+-------+--------------------+-----------------+
|     22|      Copycat (1995)|4.426264754702098|
|     47|Seven (a.k.a. Se7...|4.426264754702098|
+-------+--------------------+-----------------+

+-------+--------------------+-----------------+
|movieID|               title|           TF_IDF|
+-------+--------------------+-----------------+
|      5|Father of the Bri...|3.841302253980942|
|      7|      Sabrina (1995)|3.841302253980942|
|     32|Twelve Monkeys (a...|1.280434084660314|
+-------+--------------------+-----------------+

In [ ]:
# Recommend by tags

# Tests for tiny3
rm = recommendByTags('jane austen', tfidf, movies,min_fmax=1)
rm.show()

rm = recommendByTags('remake time twist', tfidf, movies, min_fmax=1)
rm.show()

rm = recommendByTags('robin williams remake', tfidf, movies, min_fmax=1)
rm.show()

# Tests for tiny 1 (?)
#rm = recommendByTags('tom hanks airport', tfidf, movies, numberOfResults=20)
#rm.show()

#rm = recommendByTags('tom hanks', tfidf, movies, numberOfResults=20)
#rm.show()

#rm = recommendByTags('hitchcock birds', tfidf, movies, numberOfResults=10)
#rm.show()

In [ ]:
jiM = jiMovieSimilarity(ratings)

#jiM.orderBy(['JI','m1','m2'], ascending=[0,1,1]).show()

In [ ]:
#jiM.cache()

# Pulp Fiction
#sm = recommendBySimilarity(296, movies, jiM)
#sm.show()

# Fight club
#sm = recommendBySimilarity(2959, movies, jiM)
#sm.show()
    
# Shrek
#sm = recommendBySimilarity(4306, movies, jiM)
#sm.show()

## Helper Functions

In [23]:
def get_idf(*, data, w='w', d='d', n='', debug=False):
    """Calculates the Inverse Document Frequency (IDF) of a DataFrame

    By default, uses the standard usage of IDF, i.e., 'w'
    is a word in a document 'd'. If 'n' is set, it also 
    returns a column containing the number of documents
    in which word 'w' appears.

    Args:
        data: A DataFrame instance.
        w: Column name for 'words'
        d: Column name for 'documents'
        n: Name for the output column containing the
            number of documents in which 'w' appears

    Returns:
        A DataFrame with 'w', 'IDF, [n] as columns
    """
    n_w_D = data\
           .groupBy(w)\
           .agg(F.countDistinct(d).alias('n_w_D'))
    if debug:
        n_w_D.orderBy('n_w_D',ascending=False).show()
        
    size_of_D = data.select(d).distinct().count()
    if debug:
        print("|D| = %d" % size_of_D)
    
    IDF = n_w_D\
            .withColumn('IDF', F.log2(size_of_D / F.col('n_W_D')))
    
    if n:
        IDF = IDF.drop('n_w_D')
    else:
        IDF = IDF.withColumnRenamed('n_w_D', n)
            
    return IDF

## Made by the teacher

In [24]:
def getTF(data, debug=False):
    f_wd = data\
       .groupBy('w','d')\
             .agg(F.count('w').alias('f_wd'))
    if debug:
        f_wd.orderBy('d','w').show()

    f_wd_max = f_wd\
             .groupBy('d')\
             .agg(F.max('f_wd').alias('f_wd_max'))
    if debug:
        f_wd_max.orderBy('d').show()
        
    TF = f_wd.join(f_wd_max, 'd')\
             .withColumn('TF', F.col('f_wd') / F.col('f_wd_max'))\
             .drop('f_wd','f_wd_max')
    return TF

def getIDF(data, debug=False):
    n_w_D = data\
           .groupBy('w')\
           .agg(F.countDistinct('d').alias('n_w_D'))
    if debug:
        n_w_D.orderBy('n_w_D',ascending=False).show()
        
    size_of_D = data.select('d').distinct().count()
    if debug:
        print("|D| = %d" % size_of_D)
    
    IDF = n_w_D\
            .withColumn('IDF', F.log2(size_of_D / F.col('n_w_D')))\
            .drop('n_w_D')
            
    return IDF
    
def getTF_IDF(data, debug=False):
    TF = getTF(data, debug)
    if debug:
        TF.orderBy(['d','TF'],ascending=[1,0]).show(TF.count())
    
    IDF = getIDF(data, debug)
    if debug:
        IDF.orderBy(['IDF','w'], ascending=[0,1]).show(IDF.count())

    TF_IDF = TF\
      .join(IDF,'w')\
      .withColumn('TF_IDF',F.col('TF') * F.col('IDF'))
        
    if debug:
        TF_IDF.orderBy(['d','TF_IDF','w'],ascending=[1,0,1]).show(TF_IDF.count())
    return TF_IDF